@model GroupWebProject.Models.Product
@using GroupWebProject.Pages.Shared
@using Microsoft.AspNetCore.Identity
@using GroupWebProject.Areas.Identity.Data
﻿@using GroupWebProject.Models
﻿@using GroupWebProject
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GroupWebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroupWebProject.styles.css" asp-append-version="true" />
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">The Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
{
    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.ID" style="color: lightgreen; width:200px;">Delete Product</a>
}
<h1>@Html.DisplayFor(model => model.Name)</h1>

<div style="text-align:center">
        <img src="@Model.image" alt="" style="width:500px;height:500px" />
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    <p>
        @Html.DisplayFor(model => model.Price)
    </p>
    @if (SignInManager.IsSignedIn(User))
            {
            <p>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.ID">Add to cart</a>
            </p>
            }else{
                <p>Please sign in to add item to cart.</p>
            }
</div>
<div>
     @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
      {
        <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
      }
    <a asp-action="Index">Back to List</a>
</div>
